# Auto detect text files and perform LF normalization
* text=auto

# FORCE images to be treated as binary (never modify them)
*.jpg binary
*.jpeg binary
*.png binary
*.gif binary
*.webp binary
*.ico binary
